/* Stylesheet for project one */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* comment by Jesus -- variable for box shadow effect */
:root {
  --boxy: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}
body {
  font-family: sans-serif;
  background-color: blueviolet;
}
header {
  background: rgb(25, 200, 48);
  background: linear-gradient(
    0deg,
    rgb(38, 166, 154) 10%,
    rgb(26, 176, 51) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  text-shadow: 0.5px 0.5px #333;
  text-align: left;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  /* adding main stock icon to header */
  flex-flow: nowrap;
  justify-content: space-evenly;
}
header i {
  margin: auto 0;
}
#watch-list-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#watch-list-buttons button {
  cursor: pointer;
}
.bg-light {
  margin: 1em 0;
}
.p-1 {
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
  padding: 1em !important;
  height: 100px;
  text-align: left;
}
.text-primary {
  margin-bottom: 5px;
  padding-left: 5px;
}
input#search-input {
  background-color: #fff;
  width: 90%;
  max-width: 300px;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: var(--boxy);
}
.current-prices,
.current-news,
.watch-list,
.p-1 {
  background-color: #26a69a;
  display: block;
  color: #fff;
  height: fit-content;
  padding: 3em 3em;
  border-radius: 5px;
  margin: 2em 0;
  font-size: 18px;
  line-height: 1.8;
  box-shadow: var(--boxy);
}
.current-prices {
  display: flex;
  flex-flow: row;
  padding: 2em !important;
  margin-top: 0;
  float: none !important;
  line-height: 1.2;
  align-items: center;
}
.current-prices .material-icons {
  float: none;
  margin: 5px;
}
.icon-float {
  float: left !important;
}
.news-header {
  color: #fff;
}
.current-news {
  box-shadow: none;
  background-color: transparent;
  margin-top: 0;
}
.current-news .btn {
  background-color: #333;
  margin: 2px 0;
}
.current-news .btn:hover {
  background-color: #666;
}
.current-news .card {
  box-shadow: var(--boxy);
  background-color: #26a69a;
  padding: 1em;
  border-radius: 5px;
}
#symbol, #watch-list-buttons button {
  text-transform: uppercase;
}
.left-col-1 {
  font-size: 2ch;
}
/* trying to put watch-list on the top left */
.watch-list {
  background: rgb(45, 19, 214);
  background: linear-gradient(
    0deg,
    rgb(98, 137, 243) 10%,
    rgb(21, 55, 223) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  margin: 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  float: left;
  width: 15%;
  height: 200%;
  margin-top: 1em;
  /* background: #26a69a; */
  padding-bottom: 1em !important;
}
footer,
.p-1 {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  padding: 10px;
}
/* Custom media queries go here */
@media screen and (max-width: 992px) {
  .current-prices {
    flex-flow: column;
    align-items: flex-start;
  }
  .current-prices .small {
    float: left;
    width: 30px;
  }
  .current-prices p {
    width: 50%;
  }
}
