/* Stylesheet for project one */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* comment by Jesus -- variable for box shadow effect */
:root {
    --boxy: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
body {
    font-family: sans-serif;
    background-color: blueviolet;
}
header {
    /* background-color: lightseagreen; */
    background: rgb(25,200,48);
    background: linear-gradient(0deg, rgb(38, 166, 154) 10%, rgb(26, 176, 51) 100%, rgba(0,212,255,1) 100%);
    color: #fff;
    text-shadow: 0.5px 0.5px #333;
    text-align: left;
    font-size: 40px; 
    display: flex;
    flex-direction: column;
    /* adding stock icon */
    flex-flow: nowrap;
    justify-content: space-evenly;
}
header i {
    margin: auto 0;
}
.p-1 {
    flex-direction: column;
    color: white;
    /* background-color: black; */
    margin-bottom: 10px;
    padding: 40px;
    padding-top: 20px;
    height: 100px;
    text-align: center;
}
.text-primary {
    margin-bottom: 5px;
    padding-left: 5px;
}
input#search-input {
    background-color: #fff;
    max-width: 300px;
    border-radius: 5px;
    padding: 0 10px;
    box-shadow: var(--boxy);
}
.current-prices, .current-news {
    background-color: #26a69a;
    display: block;
    color: #fff;
    height: fit-content;
    padding: 3em 3em;
    border-radius: 5px;
    margin: 2em 0;
    font-size: 18px;
    line-height: 1.8;
    box-shadow: var(--boxy);
}
.current-prices .material-icons {
    /* float: left; */
}
#symbol {
    text-transform: uppercase;
}
footer, .p-1 {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    padding: 10px;
}
